[submodule "www/third-party/bootstrap"]
	path = www/third-party/bootstrap
	url = git@github.com:twitter/bootstrap
[submodule "www/third-party/jquery-timeago"]
	path = www/third-party/jquery-timeago
	url = git://github.com/rmm5t/jquery-timeago.git
