[submodule "www/third-party/bootstrap"]
	path = www/third-party/bootstrap
	url = git@github.com:twitter/bootstrap
[submodule "www/third-party/jq"]
	path = www/third-party/jq
	url = git@github.com:jquery/jquery
