Version: 0-UNKNOWN
Package: recall
Section: web
Priority: optional
Architecture: all
Depends: python (>= 3.2), mongodb-server (>= 2.0), redis-server (>= 2.2), elasticsearch (>= 0.19.4), python-virtualenv, python-pip, build-essential, python-dev (>= 3.2)
Maintainer: Cal Paterson <cal@calpaterson.com>
Description: social bookmarking server and web application
 Recall is a program for bookmarking many different types of things
